<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
  	<description>JAX-WS endpoint - ApplicationService</description>
  	<display-name>ApplicationService</display-name>
  	<servlet-name>ApplicationService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <!--<servlet>
  	<description>AIR Init Servlet</description>
  	<display-name>AIRInit</display-name>
  	<servlet-name>AIRInit</servlet-name>
  	<servlet-class>
  		com.bayerbbs.applrepos.servlet.AirInitServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>-->
  
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/AIRToolsWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/AIRWSPort</url-pattern>
  </servlet-mapping>



  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/CiEntityWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/ApplicationToolsWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/ItSecSBWerteWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/BusinessEssentialWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/CiGroupsWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/CiPersonsWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/LDAPAuthWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/PersonsWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/GroupsWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/GroupTypesWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/OperationalStatusWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/LifecycleStatusWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/ApplicationCat2WSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/ApplicationCat1WSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/ApplicationWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/ApplicationPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/ItsecMassnahmenWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/HistoryComplianceWSPort</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>AirCiExcelExportServlet</description>
  	<servlet-name>AirCiExcelExportServlet</servlet-name>
  	<servlet-class>
  		com.bayerbbs.applrepos.servlet.AirCiExcelExportServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AirCiExcelExportServlet</servlet-name>
  	<url-pattern>/excelexport</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<description>GsToolMassnahmenBeschreibungServlet</description>
  	<servlet-name>GsToolMassnahmenBeschreibungServlet</servlet-name>
  	<servlet-class>
  		com.bayerbbs.applrepos.servlet.GsToolMassnahmenBeschreibungServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GsToolMassnahmenBeschreibungServlet</servlet-name>
  	<url-pattern>/massnbeschreibung</url-pattern>
  </servlet-mapping>
  
  
  <!--
  <servlet>
  	<servlet-name>AirRedirectServlet</servlet-name>
  	<servlet-class>com.bayerbbs.air.AirRedirectServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AirRedirectServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>-->
  
  
  <servlet>
  	<servlet-name>AirServlet</servlet-name>
  	<servlet-class>com.bayerbbs.air.AirServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <!-- (*9)
  <servlet-mapping>
  	<servlet-name>AirServlet</servlet-name>
  	<url-pattern>/run</url-pattern>
  </servlet-mapping> -->
  <!---->
  <servlet-mapping>
  	<servlet-name>AirServlet</servlet-name>
  	<url-pattern>/P</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AirServlet</servlet-name>
  	<url-pattern>/Q</url-pattern>
  </servlet-mapping>
  
  <!--
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>-->
  
  <listener>
  	<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener></web-app>
